/* shared styles */
.button-s:hover{
    cursor: pointer;
    background:linear-gradient(  rgb(255, 234, 0),rgb(13, 223, 6),rgb(0, 217, 255));
    
}
/* fonts */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Header styles */
header{
  background-image: url(../Assets/Hero-bg.png);
  background-position: center;
  height: 700px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}
nav h2{
  color: #4E47FF;
  font-size: 34px;
  font-weight: bold;
  
}
nav button{
  background-color: #4E47FF;
  color: white;
  height: 48px;
  width: 132px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}
.banner{
  margin: 155px 265.5px;
  height: 237px;
  width: 905px;
  justify-content: center;
}
.banner h2{
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  color: #252432;

}
.banner button{
  margin: 37px 365.5px;
  height: 48px;
  width: 174px;
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}
/* main styles */
main{
  background-color: #eaeaf5;
}

/* action */
.action{
  height: 328px;
  width: 1140px;
  margin: 116px 150px;
  display: flex;
  justify-content: space-between;
}
.action .content{
  height: 203px;
  width: 517px;
}
.action .content h3{
  margin-top: 62px;
  font-size: 42px;
  font-weight: bold;
  color: #252432;

}
.action .content p{
  font-size: 24px;
  color: #252432;
}
.action .content button{
  background-color: #4E47FF;
  color: white;
  height: 48px;
  width: 229px;
  border: none;
  border-radius: 10px;
  
}
.action .content button:hover{
    cursor: pointer;
    background-color: darkcyan;
}
.action img{
  height: 328px;
  width: 403px;
  border-radius: 48px;
}
/*Productive Users Section*/
.user{
  text-align: center;
  margin: 150px 120px;
  height: 306px;
  width: 1140px;
  background-color: hwb(242 66% 6% / 0.541);
  border-radius: 24px;
  padding-top: 45px;
}
.user h3{
  color: #252432;
  font-weight: bold;
  font-size: 38px;
}
.number{
  justify-content: center;
  display: flex;
  gap: 158px;
}
.number div h2{
  margin-top: 0;
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
  margin-bottom: 0px;
}
.number  p{
  font-size: 20px;
  color: #000000;
}


/* comment section */
.card-container{
    height: 243px;
    width: 366px;
    border-radius: 14px;
    box-shadow: 2px 2px 20px 2px rgb(206, 221, 245);
}
.comment{
    margin: 137px 150px;
}
.comment-container{
    display: flex;
    gap: 20px;
}
.card-container{
    padding: 24px;
    height: 210px;
    width: 366px;
}

.card-container:hover{
  background-color: rgb(201, 184, 244);
}
.comment h2{
    margin: 50px 380px;
    font-size: 42px;
    font-weight: bold;
}
.comment h4{
    font-size: 20px;
    font-weight: bold;
}
.comment p{
    font-size: 15px;
}
.card-container{
    
}
.card-container .commenter img{
    height: 40px;
    width: 40px;
}

.img-c-1{
    border-radius: 20px;
}
.card-container .star-icon img{
    height: 15px;
    width: 15px;
}
.commenter{
    display: flex;
    align-items: center;
}
.commenter .commenter-n-d{
    margin-top: 0px;
    margin-left: 15px;
    line-height: 0px;
    
}
.commenter .commenter-n-d h5{
    text-align: left;
    width: 300px;
}
.commenter .commenter-n-d .name{
    font-size: medium;
    margin-bottom: 0;
    
}
/* get started section */
.get-started{
    border-radius: 10px;
    background: linear-gradient(#DAE2F8,#8cbaec);
    margin: 110px 150px;
    height: 696.77px;
    width: 1140px;
    align-items: center;
}
.get-started .content{
    margin-top: 71px;
}
.get-started .content h2{
    line-height: 200px;
    
    font-size: 50px;
    font-weight: bold;
}
.get-started .content p{
    margin-top: -80px;
    color: #434242;
    font-size: 18px;
}
.get-started .content button{
  background-color: #4E47FF;  
  color: white;
  height: 48px;
  width: 195px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}
.get-started img{
    justify-content: center;
    border-radius: 48px;
    width: 840px;
    height: 365px;
}
.get-started .content{
    text-align: center;
}
.img{
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 150px;
}
/* lets get in touch  */
.info{
  margin: 70px 150px;
  display: flex;
  height: 632px;
  width: 1140px;
  background-color:  rgb(232, 232, 244);
  border-radius: 20px;
}
.info h1{
  margin-top: 200px;
  font-size: 97px;
  font-weight: bold;
}
.info .form-container ::placeholder{
  font-size: 20px;
}
.info .form-container form input{
  border-radius: 10px;
  height: 70px;
  width: 497px;
  background-color: #ffffff;
  border: 2.5px solid rgb(218, 218, 219);
}
.info .form-container form textarea{
  height: 135px;
  width: 497px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2.5px solid rgb(218, 218, 219);
}
.info .form-container form label{
  font-size: 18px;
  font-weight: 500;
}
.info .form-container form button{
  height: 62px;
  width: 497px;
  background-color: #4E47FF;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
}
.info .form-container form{
  margin-top: 71px;
}
.info .form-container form div{
  margin-top: 19px;
}
.info .form-container form div input{
  margin-top: 10px;
}
.info .form-container form .textarea-container textarea{
  margin-top: 10px;
}
.info .form-container form button{
  margin-top: 10px;
}
/* footer styles */
footer{
  height: 428px;
  width: 1440px;
}
footer h1{
  font-size: 100px;
  font-weight: bold;
  color: #4E47FF;
  margin-bottom: 8px;
  margin-left: 120px;
}
footer ul{
  display: flex;
}
footer ul li{
  list-style: none;
  margin-right: 48px;
}
footer ul a{
  text-decoration: none;
  color: #8987A1;
}
footer p{
  color: #8987A1;
}
.footer-container{
  margin-left: 455px;
  margin-top: 110px;
  height: 221px;
  width: 531px;
}

